[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Amir Choudhary
	email = 110274155+Amirchoudhary09@users.noreply.github.com
